GridBackground
{
    --grid-background-color: var(--dns-colors-grid-light-grey-1);
    --line-color: var(--dns-colors-grid-light-grey-2);
    --thick-line-color: var(--dns-colors-grid-light-grey-3);
    --spacing: var(--dns-metrics-grid-25):
}